/* Provide sufficient contrast against white background */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-weight: 100;
  src: url("fonts/Inter-Thin.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 300;
  src: url("fonts/Inter-Light.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("fonts/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: url("fonts/Inter-Black.ttf");
}

a {
  @apply text-primary-600;
}
