.ButtonOutline {
  @apply border border-solid bg-transparent font-medium leading-4 shadow-sm;

  // Round if no rounding class is specified
  &:not([class*="rounded"]) {
    @apply rounded-md;
  }

  // Sizes
  &--xs {
    @apply px-2.5 py-1 text-xs;
  }

  &--sm {
    @apply px-3 py-1.5 text-sm;
  }

  &--md {
    @apply px-5 py-2 text-sm;
  }

  &--lg {
    @apply px-5 py-2 text-base;
  }

  &--xl {
    @apply px-6 py-3 text-base;
  }

  &:disabled {
    @apply text-neutral-400 bg-neutral-100 cursor-not-allowed;
  }

  &:focus {
    @apply ring-2 ring-offset-2;
  }

  // Colors
  &:enabled {
    &.ButtonOutline--neutral {
      @apply text-neutral-500 border-neutral-500 hover:bg-neutral-600 hover:text-neutral-600-contrast active:bg-neutral-700 ring-neutral-500;
    }

    &.ButtonOutline--primary {
      @apply text-primary-500 border-primary-500 hover:bg-primary-600 hover:text-primary-600-contrast active:bg-primary-700 ring-primary-500;
    }

    &.ButtonOutline--success {
      @apply text-success-500 border-success-500 hover:bg-success-600 hover:text-success-600-contrast active:bg-success-700 ring-success-500;
    }

    &.ButtonOutline--danger {
      @apply text-danger-500 border-danger-500 hover:bg-danger-600 hover:text-danger-600-contrast active:bg-danger-700 ring-danger-500;
    }

    &.ButtonOutline--warning {
      @apply text-warning-500 border-warning-500 hover:bg-warning-600 hover:text-warning-600-contrast active:bg-warning-700 ring-warning-500;
    }

    &.ButtonOutline--info {
      @apply text-info-500 border-info-500 hover:bg-info-600 hover:text-info-600-contrast active:bg-info-700 ring-info-500;
    }

    // Non-global variants
    &.ButtonOutline--basic {
      @apply text-neutral-700 bg-white border border-neutral-300 hover:text-neutral-300-contrast hover:bg-neutral-50 active:bg-neutral-100 ring-primary-600;
    }

    &.ButtonOutline--secondary {
      @apply text-primary-700 bg-primary-100 hover:bg-primary-200 hover:text-primary-200-contrast active:bg-primary-300 ring-primary-600;
    }
  }
}
